{% extends "socialnetwork/base.html" %}
{% load static %}
{% block header %}
<div>
    <a href="{% url 'myprofile' %}" id="id_nav_profile" class="id_nav_profile">
        {{user.first_name}} {{user.last_name}}
    </a>

    <div class="nav">
        <a id="id_nav_global_stream" href="{% url 'globalstream' %}">Global</a>
        <a id="id_nav_follower_stream" href="{% url 'followerstream' %}">Follower</a>
        <a id="id_nav_logout" href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="id_page_name" class="id_page_name">Profile Page for {{user.first_name}} {{user.last_name}} </div>
<div class="user_info">
    {% if not profile.picture %}
    <img class="id_user_picture" id="id_user_picture" src="{% static 'socialnetwork\default_profile_picture.jpg' %}" />
    {% else %}
    <img class="id_user_picture" id="id_user_picture" src="{% url 'picture' profile.user.id %}" />
    {% endif %}

    <form class="my_profile_form" name="my_profile_form" method="POST" action="{% url 'myprofile' %}"
        enctype="multipart/form-data">
        <table>
            {{form}}
        </table>
        <button type="submit" class="id_update_profile_button" id="id_update_profile_button">Submit</button>
        {% csrf_token %}
    </form>

    <div class="id_profile_links">
        You are following:
        <ul>
            {% for u in profile.following.all %}
            <li>
                <a href="{% url 'otherprofile' u.id %}" id="id_profile_link_{{u}}">
                    {{u.first_name}} {{u.last_name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}